# zerina project

## setup

In [4]:
import pandas as pd
import numpy as np
import scipy
from tqdm import tqdm_notebook

from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

## data processing

### read csv and preprocess

In [7]:
tar_file = r'data/wifitrafficstats2.csv'
#tar_file = r'data/wifitrafficstats3.csv'
#tar_file = r'data/wifitrafficstats4.csv'
#tar_file = r'data/wifitrafficstats5.csv'
#tar_file = r'data/wifitrafficstats6.csv'

df = (
    pd
    .read_csv(tar_file)
    .rename({ 
        'Time':'time', 
        'Length':'length', 
        'TX Rate':'rate'
    }, axis=1)
    .eval('time = time * 1e6')
    .eval('rate = rate * 1e6')
    .eval('length = length * 8')
    .eval('on_time = 1e6 * length / rate')
    .eval('end_time = time + on_time')
    .assign(
        shift_time = lambda x: x.end_time.shift(1),
        off_time = lambda x: [
            (time - shift_time) 
                if (time - shift_time) > 0 else 0 
            for time, shift_time in (zip(x.time, x.shift_time))
    ])
    .drop(['No.','Delta Time','shift_time'], axis=1)
    .round(0)
)



df.head(10)

       time  length        rate  on_time  end_time  off_time
0       0.0    1352   6000000.0    225.0     225.0       0.0
1   36341.0     312  24000000.0     13.0   36354.0   36116.0
2   39469.0     312  24000000.0     13.0   39482.0    3115.0
3   49356.0    2288   1000000.0   2288.0   51644.0    9874.0
4   50556.0    1008   1000000.0   1008.0   51564.0       0.0
5   64737.0    6584   6000000.0   1097.0   65834.0   13173.0
6   82497.0     312  24000000.0     13.0   82510.0   16663.0
7   85683.0     312  24000000.0     13.0   85696.0    3173.0
8  101354.0     312   6000000.0     52.0  101406.0   15658.0
9  103643.0     456  12000000.0     38.0  103681.0    2237.0

### generate data list of `1`'s and `0`'s

In [49]:
def generate_data_list(df):
    '''
    takes dataframe with 'on_time' and 'off_time' time stamp columns 
    and returns a numpy array of 1's (on_time) and 0's (off_time)
    '''
    
    data_list = []

    for row in tqdm_notebook(df[['on_time','off_time']].iloc[1:].itertuples(), total=df.shape[0]-1):
        data_list.extend([1 for i in range(int(row.on_time))])
        data_list.extend([0 for i in range(int(row.off_time))])
    
    return np.array(data_list, copy=True)

In [50]:
np.allclose(generate_data_list(df), data)

HBox(children=(IntProgress(value=0, max=5310), HTML(value='')))

True

## compute statistics

### fast get all state lengths

In [47]:
def get_state_length_list(data):
    '''
    takes data list ([1,1,0,1,0,0,...]) and returns numpy array 
    of duration of consecutive bits ([13,245,2588,19,1056,...])
    '''
    data = np.array(data)    
    return np.diff(
        np.where(
            np.concatenate(
                ([data[0]],
                 data[:-1] != data[1:],
                 [0]
                )
            )
        )[0]
    )[::2]

In [48]:
np.allclose(get_state_length_list(data), state_lengths)

True